<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>

  <key>WorkingDirectory</key>
  <string>__WORKDIR__</string>

  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__TSX_BIN__</string>
    <string>__DAEMON_ENTRY__</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>LIBRARY_ROOT</key>
    <string>__LIBRARY_ROOT__</string>
    <key>PATH</key>
    <string>__SYSTEM_PATH__</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/bookzang-ingest.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/bookzang-ingest.err.log</string>
</dict>
</plist>
